.about, .team {
    display: grid;
    gap: 10px;
    margin: 40px 400px auto; /* top margin is 20px, right and left margins are auto, bottom margin is 0 */
    justify-content: center; /* centers content horizontally */
    align-items: center; /* centers content vertically */
  }

@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
    }
}

img {
    min-width: 300px;
    width: 95%;
    height: auto;
    border-radius: 18px;
}

body {
    background-color: #f0f0f0;
    margin: 0vh;    
}

.page {
    padding: 40px;
}

h1 {
    /* key:value*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

h3 {
    /* key:value*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

h3 {
    /* key:value*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

h4 {
    /* key:value*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-bottom: 20px; /*Margin after Record Label to give it a more appealing aspect to the text*/
}

p {
    
    color: rgb(114, 74, 154);
}

/*****************************************************************/

.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: start; /* aligns the content to the top of the grid cell */
}

@media screen and (max-width: 768px) {
    .content1 {
        grid-template-columns: 1fr;
    }
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: start; /* aligns the content to the top of the grid cell */
}

@media screen and (max-width: 768px) {
    .content2 {
        grid-template-columns: 1fr;
    }
}

.content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: start; /* aligns the content to the top of the grid cell */
}

@media screen and (max-width: 768px) {
    .content2 {
        grid-template-columns: 1fr;
    }
}

.image-container1 {
    width: 100%;
}

.text-container1 {
    width: 100%;
    font-size: 25px; /* adjust the value to change the text size */
    text-align: left; 
}

.image-container2 {
    width: 100%;
}

.text-container2 {
    width: 100%;
    font-size: 25px; /* adjust the value to change the text size */
    text-align: left; 
}

img {
    min-width: 300px; /* adjust this value as needed */
    width: 95%;
    height: auto;
}



body {
    background-color: #f0f0f0;
    margin: 0vh;    
}

.page {
    padding: 40px;
}

h1 {
    /* key:value*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

h3 {
    /* key:value*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

h3 {
    /* key:value*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

h4 {
    /* key:value*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-bottom: 20px; /*Margin after Record Label to give it a more appealing aspect to the text*/
}


p {
    
    color: rgb(114, 74, 154);
}