.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 70px 250px auto; /* top margin is 20px, right and left margins are auto, bottom margin is 0 */
    align-items: start; /* aligns the content to the top of the grid cell */
}

@media screen and (max-width: 768px) {
    .content1 {
        grid-template-columns: 1fr;
    }
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 70px 250px auto; /* top margin is 20px, right and left margins are auto, bottom margin is 0 */
    align-items: start; /* aligns the content to the top of the grid cell */
}

@media screen and (max-width: 768px) {
    .content2 {
        grid-template-columns: 1fr;
    }
}

.image-container {
    width: 100%;
}

.text-container {
    width: 100%;
    font-size: 25px; /* adjust the value to change the text size */
    text-align: justify;
    
}

img {
    min-width: 300px; /* adjust this value as needed */
    width: 90%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0vh;    
}

.page {
    padding: 40px;
}

h1 {
    /* key:value*/
    color: black;
    font-family: Arial, sans-serif;
}

h3 {
    /* key:value*/
    color: black;
    font-family: Arial, sans-serif;
}

h3 {
    /* key:value*/
    color: black;
    font-family: Arial, sans-serif;
}

h4 {
    /* key:value*/
    color: black;
    font-family: Arial, sans-serif;
    margin-bottom: 20px; /*Margin after Record Label to give it a more appealing aspect to the text*/
}


p {
    color: darkblue;
    font-family: Arial, sans-serif;
}
