#navbar__logo img {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

#navbar__logo span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* replace with your desired font */
  font-size: 20px; /* replace with your desired font size */
  color: #ffffff; /* replace with your desired color */
  margin-left: -100px; /* replace with your desired distance */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
} 

.navbar {
  
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 20;
}

#navbar__logo {
  background-color: #0f0707;
  background-image: linear-gradient(to top, #ffffff 0%, #2e2623 100%);
  background-size: 100%;
  background-clip: text;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-left: 25px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

#navbar__logo span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* replace with your desired font */
  font-size: 20px; /* replace with your desired font size */
  color: #ffffff; /* replace with your desired color */
  margin-left: -100px; /* replace with your desired distance */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
} 

.navbar {
  
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

#navbar__logo {
  background-color: #0f0707;
  background-image: linear-gradient(to top, #ffffff 0%, #2e2623 100%);
  background-size: 100%;
  background-clip: text;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-left: 25px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #131313;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
  color: black;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #131313;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
  color: black;
}

footer {
  text-align: right;
  padding: 3px;
  background-color: rgb(164, 54, 155);
  color: white;
  margin-top: 20px;
}

.copyright {
  color: rgb(227, 227, 227);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
}