/*This (*) is an universal calling for every element of this css file.*/
* {
  box-sizing: border-box; /*This tells the browser that the bpadding and border of the box are included in the total width*/
  margin: 0; /*This says the browser that I do not want margins. I do not want white spaces baside the navigation menu*/
  padding: 0; /*Padding 0 not to include spaces inside the boundaries of the elements. We want to remove the padding of all elements by setting them to 0*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*I want to use the same font family for my whole site*/
} 

/*This applies to the whole navigation or menu bar*/
.navbar {
  background: #131313; /*Black will be the colour of the navbar*/
  height: 100px; /*The height will be 80px, not to tall or short*/
  display: flex; /*This is to have the elements in a row for aesthetic purposes*/
  justify-content: center; /*This is to have the elements justified in the navbar*/
  align-items: center; /*Let's align the items in the center of the navigation bar*/
  font-size: 1.5rem; /*This is the size of the font on the navbar. It was adjusted by trial and error not to be readable and appealing*/ 
  position: sticky; /*This is to have the elements always visible on the top of the pages*/
  top: 0; /*We want the navbar to the top of the page without spaces*/
  z-index: 999; /*z-index 999 says that we want the navbar to be always on to of all the other elements of the page*/
}

#navbar__logo {
  display: flex; /*This is to have the elements of the logo (image and text) in a row*/
  align-items: center; /*This is to have the elements of the logo (image and text) in a row*/
  text-decoration: none; /*I do not want decorations on the logo. If I delete this line, the logo will be underlined*/
}

/*This block is for image of the Record label logo (png), which is to the left of the navbar*/
#navbar__logo img {
  height: 100px; /*The height of the image will be 100px. It was adjust by trial and error to be visible and not too big or small*/
  width: 80px; /*The width of the image is 80px. By doing this, when using a computer, the text Rêve Discos will be linear with the image*/
  object-fit: contain; /*This is not to have the image cropped and to keep its round proportions*/
  margin-right: 20px; /*This 20px give us space between the image and the text Rêve Discos*/
}

.navbar__item {
  margin: 0 20px; /* This adds 10px of space on the left and right. Otherwise, the logo and menu are too separated between them*/
}

#navbar__logo span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*I want to use the same font family for my whole site*/
  font-size: 1.5rem; /*This is to have the same size of letter between the logo and menu items*/
  color: #ffffff; /*This to have the letters of the logo white like the menu ones*/
  margin-left: -100px; /*This is to have the logo and the menu words or items in the same line*/
}

/*This block is for the elements inside the menu,that is, the Word options of the menu (About, Artist, Chris Anich,
De Sombras y Siluetas and Contact)*/
.navbar__menu {
  display: flex; /*This is to have the elements in a row for aesthetic purposes and to proportions*/
  align-items: center; /*This is to have the elements centred and aligned in the navbar*/
  list-style: none; /*This is to delete the bullet points of the element of the menu*/
}

.navbar__links {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*I want to use the same font family for my whole site*/
  color: #fff; /*This line is to give a white colour to the menu words, to have contrast with the navbar, which is black*/
  text-decoration: none; /*This line is to avoid underlines on the menu items*/
  padding: 0 1rem; /*This line gives us spaces between the menu items*/
}

.navbar__container {
  display: flex; /*This is to have the elements in a row and not in a column. If I delete this line, the elements will also move to the centre of the navbar*/
  justify-content: space-between; /*With this we have space between the elements of the navbar__container*/
  width: 100%; /*This adjust the elements of the navbar to the width of the page*/
  max-width: 1400px; /*This is the maximum width of the navbar. If I delete this line, the navbar will be toowide and the elements will move to the right*/
}

.dropdown {
  position: relative; /*This line is to have the elements of the dropdown menu (Artists) aligned to the left and not to trespass the Artist word to the right*/
}

.dropdown-menu {
  display: none; /*This line will keep the elements of the dropdown menu (Artists) hidden until the mouse is over the word Artists*/
  position: absolute; /*This is to control that the elements of the dropdown menu (Artists) respect the position of the Artist word and stay below it*/
  background-color: #131313; /*This is the background colour of the elements of the Artist dropdown menu. If I delete it, instead of being black, it will 
                                be transparent and will lose constrast (compared to the background image of the website)*/
  min-width: 160px; /*This is to define a minimum width of the elements of the Artists dropdown menu. I do not define it, the elements will be too narrow*/
}

/*This block will keep the elements of the dropdown menu Artists organised, with the same size, 
white letters and spaces between them*/
.dropdown-menu a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none; /*This line avoids the underlines of the elements of the dropdown menu Artists)*/
  display: block;
}

/*This block deletes the bullet points of the elements of the dropdown menu Artists*/
.dropdown-menu li {
  list-style: none;
}

/*This block keeps the colour of the elements of the dropdown menu Artists white when the background is back, 
and black when the mouse is over them (white background)*/
.dropdown-menu a:hover {
  background-color: #f1f1f1;
  color: black;
}


footer {
  background-color: rgb(164, 54, 155); /*This line gives us a background colour to the footer of the pages.
  Because the padding is 3px, this will be visible like a frame of the footer*/ 
  padding: 3px;
  color: white; /*This line colours the letters of the footer white (© Rêve Discos 2024)*/
  margin-top: 20px; /*With this we give a space between the last element of the page and the footer, that is 20 px*/
}

.copyright {
  color: rgb(fff); /*This is to give a white colour to the footer words (© Rêve Discos 2024)*/
  text-decoration: none; /*This line is to avoid underlines on the footer words (© Rêve Discos 2024)*/
  font-size: 1.5rem; /*This is the size of the letters of the footer (© Rêve Discos 2024). It is the same for the other elements of the
  footer and navbar (menu)*/
}